<div class="positionList">
    <ul>
        <li ui-sref="show({id:item.id})" ng-repeat="item in position|filterByObj:filterObj">
            <img ng-src="{{item.imageUrl}}" alt="">
            <div>
                <p>
                    <span>{{item.companyName}}</span>
                    <span>{{item.cityName}}</span>
                    <span>{{item.industryName}}</span>
                    <span>{{item.scaleName}}</span>
                </p>
                <p class="red">{{item.salaryName}}
                </p>
                <p>{{item.date}}</p>
            </div>
        </li>
    </ul>
</div>
